# Python Data Types

## Built-in Data Types

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

* Text Type:	    str
* Numeric Types:	int, float, complex
* Sequence Types:	list, tuple, range
* Mapping Type:	    dict
* Set Types:	    set, frozenset
* Boolean Type:	    bool
* Binary Types:	    bytes, bytearray, memoryview

## Getting the Data Type
You can get the data type of any object by using the type() function:

In [1]:
# Example: Print the data type of the variable x

x = 5
print(type(x))

<class 'int'>

## Setting the Data Type
In Python, the data type is set when you assign a value to a variable:

In [2]:
# Text Type: String

# Data Type: str

# Example:

x = "Hello World!"

In [3]:
x

'Hello World!'

In [4]:
print(x)

Hello World!

In [5]:
print(type(x))

<class 'str'>

In [6]:
# Numeric Types: Integer

# Data Type: int

# Example:

x = 20

In [7]:
x

20

In [8]:
print(x)

20

In [9]:
print(type(x))

<class 'int'>

In [10]:
# Numeric Types: Floating
    
# Data Type: float

# Example:

x = 20.5

In [11]:
x

20.5

In [12]:
print(x)

20.5

In [13]:
print(type(x))

<class 'float'>

In [15]:
# Numeric Types: Complex

# Data Type: complex

# Example:

x = 1j

In [16]:
x

1j

In [17]:
print(x)

1j

In [18]:
print(type(x))

<class 'complex'>

In [19]:
# Sequence Types: List

# Data Type: list

# Example:

x = ["apple", "banana", "cherry"]

In [20]:
x

['apple', 'banana', 'cherry']

In [21]:
print(x)

['apple', 'banana', 'cherry']

In [22]:
print(type(x))

<class 'list'>

In [23]:
# Sequence Types: Tuple

# Data Type: tuple

# Example: 

x = ("apple", "banana", "cherry")

In [24]:
x

('apple', 'banana', 'cherry')

In [25]:
print(x)

('apple', 'banana', 'cherry')

In [26]:
print(type(x))

<class 'tuple'>

In [27]:
# Sequence Types: Range
    
# Data Type: range

# Example: 

x = range(6)

In [28]:
x

range(0, 6)

In [29]:
print(x)

range(0, 6)

In [30]:
print(type(x))

<class 'range'>

In [31]:
# Mapping Type:	Dictionaries

# Data Type: dict

# Example: 

x = {"name" : "John", "age" : 36}

In [32]:
x

{'name': 'John', 'age': 36}

In [33]:
print(x)

{'name': 'John', 'age': 36}

In [34]:
print(type(x))

<class 'dict'>

In [35]:
# Set Types: Set

# Data Type: set

# Example: 

x = {"apple", "banana", "cherry"}

In [36]:
x

{'apple', 'banana', 'cherry'}

In [37]:
print(x)

{'apple', 'cherry', 'banana'}

In [38]:
(print(type(x)))

<class 'set'>

In [39]:
# Set Types: Frozen Set

# Data Type: frozenset

# Example: 

x = frozenset({"apple", "banana", "cherry"})

In [40]:
x

frozenset({'apple', 'banana', 'cherry'})

In [41]:
print(x)

frozenset({'apple', 'cherry', 'banana'})

In [42]:
print(type(x))

<class 'frozenset'>

In [43]:
# Boolean Type: Boolean

# Data Type: bool

# Example: 

x = True

In [44]:
x

True

In [45]:
print(x)

True

In [46]:
print(type(x))

<class 'bool'>

In [47]:
# Binary Type: Bytes

# Data Type: bytes

# Example: 

x = b"Hello"

In [48]:
x

b'Hello'

In [49]:
print(x)

b'Hello'

In [50]:
print(type(x))

<class 'bytes'>

In [51]:
# Binary Type: Byte Array

# Data Type: bytearray

# Example: 

x = bytearray(5)

In [52]:
x

bytearray(b'\x00\x00\x00\x00\x00')

In [53]:
print(x)

bytearray(b'\x00\x00\x00\x00\x00')

In [54]:
print(type(x))

<class 'bytearray'>

In [55]:
# Binary Type: Memory View

# Data Type: memoryview

# Example: 

x = memoryview(bytes(5))

In [56]:
x

In [57]:
print(x)

<memory at 0x000001BB4B7A0580>

In [58]:
print(type(x))

<class 'memoryview'>

## Setting the Specific Data Type

If you want to specify the data type, you can use the following constructor functions:

In [59]:
# Text Type: String

# Data Type: str

# Example:

x = str("Hello World")

In [60]:
x

'Hello World'

In [61]:
print(type(x))

<class 'str'>

In [62]:
# Numeric Types: Integer

# Data Type: int

# Example:

x = int(20)

In [63]:
x

20

In [64]:
print(type(x))

<class 'int'>

In [66]:
# Numeric Types: Floating
    
# Data Type: float

# Example:

x = float(20.5)

In [67]:
x

20.5

In [68]:
print(type(x))

<class 'float'>

In [69]:
# Numeric Types: Complex

# Data Type: complex

# Example:

x = complex(1j)

In [70]:
x

1j

In [71]:
print(type(x))

<class 'complex'>

In [72]:
# Sequence Types: List

# Data Type: list

# Example:

x = list(("apple", "banana", "cherry"))

In [73]:
x

['apple', 'banana', 'cherry']

In [74]:
print(type(x))

<class 'list'>

In [75]:
# Sequence Types: Tuple

# Data Type: tuple

# Example: 

x = tuple(("apple", "banana", "cherry"))

In [76]:
x

('apple', 'banana', 'cherry')

In [77]:
print(type(x))

<class 'tuple'>

In [78]:
# Sequence Types: Range
    
# Data Type: range

# Example: 

x = range(6)

In [79]:
x

range(0, 6)

In [80]:
print(type(x))

<class 'range'>

In [81]:
# Mapping Type:	Dictionaries

# Data Type: dict

# Example: 

x = dict(name="John", age=36)

In [82]:
x

{'name': 'John', 'age': 36}

In [83]:
print(type(x))

<class 'dict'>

In [84]:
# Set Types: Set

# Data Type: set

# Example: 

x = set(("apple", "banana", "cherry"))

In [85]:
x

{'apple', 'banana', 'cherry'}

In [86]:
print(type(x))

<class 'set'>

In [87]:
# Set Types: Frozen Set

# Data Type: frozenset

# Example: 

x = frozenset(("apple", "banana", "cherry"))

In [88]:
x

frozenset({'apple', 'banana', 'cherry'})

In [89]:
print(type(x))

<class 'frozenset'>

In [90]:
# Boolean Type: Boolean

# Data Type: bool

# Example: 

x = bool(5)

In [91]:
x

True

In [92]:
print(type(x))

<class 'bool'>

In [93]:
# Binary Type: Bytes

# Data Type: bytes

# Example: 

x = bytes(5)

In [94]:
x

b'\x00\x00\x00\x00\x00'

In [95]:
print(type(x))

<class 'bytes'>

In [101]:
# Binary Type: Byte Array

# Data Type: bytearray

# Example: 

x = bytearray(5)

In [97]:
x

bytearray(b'\x00\x00\x00\x00\x00')

In [98]:
print(type(x))

<class 'bytearray'>

In [99]:
# Binary Type: Memory View

# Data Type: memoryview

# Example: 

x = memoryview(bytes(5))

In [100]:
x

In [102]:
print(type(x))

<class 'bytearray'>